#root {
  width: 100%;
}

.selected-friends-count {
  font-size: var(--text-body-size-small);
  display: inline-block;
  margin-left: var(--base-size-6);
  font-weight: normal;
}

.selected-game-name-heading {
  margin-bottom: var(--base-size-12);
}
