.achievement-list-item {
  margin-bottom: var(--base-size-8);
}

.achievement-icon {
  margin-right: var(--base-size-8);
}

.show-hidden-achievement {
  font-style: italic;
}

.hidden-achievement-details {
  display: inline-block;
}
