.selected-friends-list {
  border-bottom: 1px solid var(--borderColor-default);
  padding-bottom: var(--base-size-16);
}

.friend-achievements-error {
  color: var(--fgColor-danger);
}

.selected-friend-avatar,
.selected-friend-name {
  display: inline-block;
  margin-right: var(--base-size-6);
}
