@import '../variables.scss';

.root {
  background: color($periwinkle lightness(-5%));
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: $max-content-width;
  text-align: center;
}

.spacer {
  color: rgba(255, 255, 255, .3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
