@import '../variables.scss';

.achievementsComparison {
}

.achievementsList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
