@import '../variables.scss';

.achievementComparison {
  display: inline-block;
  margin: 0 8px 8px 0;
  width: 300px;
  border: 1px solid color($mauve lightness(+15%));
  border-radius: 2px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &.unlocked {
    background-color: color($mauve lightness(+30%));
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.achievementIcon {
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
}

.achievementName {
  margin: 0;
  font-size: 1.2rem;
  width: 212px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playerAchievements {
  list-style: none;
  padding-left: 0;
  margin: 0;

  .playerAchievement {
    .playerName {
      padding-left: 8px;
    }
  }
}

.status {

}
