@import '../variables.scss';

.filtersWrapper {
  margin-bottom: 1em;
}

.filters {
  margin: 0;
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}

.header {
  font-weight: 700;
}

.filterToggle {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.filterToggle:checked + .label {
  &:before {
    top: -4px;
    left: -1px;
    width: 6px;
    height: 10px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  &:after {
    width: $checkbox-width;
    height: $checkbox-height;
    border: 2px solid $mauve;
    background-color: $mauve;
    z-index: 0;
  }

  &:before, &:after {
    top: 0;
  }
}

.label {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;

  &:before {
    width: $checkbox-width;
    height: $checkbox-width;
    border: 2px solid $mauve;
    border-radius: 1px;
    margin-top: 2px;
  }

  &:after {
    border-radius: 2px;
  }

  &:before, &:after {
    content: '';
    left: 0;
    top: -2px;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
  }
}
