@import '../variables.scss';
@import './AchievementsList.scss';
@import './AchievementsComparison.scss';
@import './PlayersList.scss';
@import './AchievementComparison.scss';

.root {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.clearSteamGame {
  padding-right: 0.3em;
  display: inline-block;
  vertical-align: top;
  color: #999;
  width: 0.5em;
}

h1 {
  margin-left: -0.8em;
}

.gameIcon {
  margin-right: 8px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
