@import '../variables.scss';

.root {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.clearSteamGame {
  padding-right: 0.3em;
  display: inline-block;
  vertical-align: top;
  color: #999;
}

.gameIcon {
  margin-right: 8px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.achievementsList {
  padding-left: 0;

  &:after {
    content: " ";
    display: table;
  }

  .achievement {
    display: inline-block;
    list-style: none;
    width: 240px;
    margin: 0 8px 8px 0;
    float: left;
    position: relative;
    overflow: hidden;

    & > span {
      display: inline-block;
    }

    .achievementIcon {
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
    }

    .achievementName {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 72px;
    }
  }
}
