@import '../variables.scss';

.bar {
  fill: $periwinkle;

  &:hover {
    fill: $cobalt;
  }
}

.axis {
  font: 0.9rem $font-family-base;

  path, line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  &.x {
    path {
      display: none;
    }
  }
}

svg {
  display: block;
  margin: 0 auto;
  position: relative;
}

.label {
  font: 0.9rem $font-family-base;
  fill: white;
}
