@import '../variables.scss';

.playedGames {

}

.row {
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  .leftColumn, .rightColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    list-style: none;
  }
}

@media (min-width: $screen-md-min) {
  .row {
    .leftColumn, .rightColumn {
      width: 47%;
      float: left;
    }
  }
}
