@import '../variables.scss';
@import './SteamGame.scss';

.root {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.clearSteamUsername {
  padding-right: 0.3em;
  display: inline-block;
  vertical-align: top;
  color: #999;
}
