@import '../variables.scss';
@import './PlayedGamesList.scss';
@import './FriendsList.scss';
@import './Friend.scss';

.root {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.clearSteamUsername {
  padding-right: 0.3em;
  display: inline-block;
  vertical-align: top;
  color: #999;
  width: 0.5em;
}

h1 {
  margin-left: -0.8em;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  .leftColumn, .rightColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    list-style: none;
  }
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.alertError {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.steamIdErrorWrapper {
  .instructions {
    margin: 0;
  }

  .steamProfileWrapper {
    margin: 1em 0;

    img {
      border: 1px solid #333;
      padding: 5px;
      background-color: #fff;
    }
  }
}

@media (min-width: $screen-md-min) {
  .row {
    .leftColumn, .rightColumn {
      width: 47%;
      float: left;
    }
  }
}
